.page-container{
    position: relative;
    width:100%;
    height:100%;
}
.header{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width:100%;
    height:64px;
    background: #007AFF;
}
.page-header-inner{
    width:100%;
    height:100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 64px;
}
.side-bar{
    position: absolute;
    z-index: 2;
    left:0;
    top:0;
    padding-top: 64px;
    width:140px;
    height:100%;
    border-right:1px solid #e8e8e8;
    background:#fff;
}
.side-bar ul{
    width:100%;
    height:100%;
}
.side-bar ul li{
    width:100%;
    height:40px;
    border-bottom:1px solid #e8e8e8;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
}
.side-bar ul li a{
    color: #000;
}
.side-bar ul li a:active{
    color: #007AFF;
}
.page-content-wrapper{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding:64px 20px 50px 140px;
    width:100%;
    height:100%;
}
.page-content{
    padding: 20px;
    width:90%;
    height:100%;
}
.footer{
    position: absolute;
    z-index: 888;
    left:0;
    bottom: 0;
    width:100%;
    height:50px;
    background: #ccc;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
